html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    font-size: 22px;
    text-align: center;
    padding: 5px 20px
}

p:first-child {
    margin-top: 15px;
    padding: 0;
}

nav {
    text-align: center;
}

ul {
    font-size: 20px;
    list-style: none;
}

h2 {
    text-align: center;
    margin: 10px auto;
}

.aside-one {
    text-align: center;
}

.aside-two {
    text-align: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer p {
    padding: 0;
    margin: 10px;
    font-size: 18px;
}

@media (min-width: 600px) {
    p, ul {
        font-size: 24px;
    }
    h2 {
        font-size: 26px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        padding: 0 10px;
    }
    h3 {
        font-size: 22px;
    }
    footer p {
        padding: 0;
        margin: 10px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 1300px;
    }

    p:first-child {
        margin: 15px;
    }
    p, ul {
        font-size: 22px;
        text-align: initial;
        margin: 20px 10px;
    }
    ul {
        margin: 0 50px;
        padding: 0;
        list-style: initial;
    }
    h2 {
        text-align: initial;
        margin-left: 10px;
        font-size: 26px;
    }

    .aside-one ul, .aside-two ul {
        list-style: none;
        margin: 0 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 28px;
        text-align: initial;
        margin: 0 20px;
    }

    h3 {
        font-size: 24px;
        text-align: initial;
        margin: 0 20px;
    }

    footer p {
        font-size: 20px;
        margin: 20px 20px;
    }
}