body {
    font-size: 22px;
    text-align: center;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
}

img {
    max-width: 100%;

}

figure {
    text-align: center;
    margin-bottom: 40px;
}

@media (min-width: 800px) {
    body {
        background-color: rgb(220, 243, 250);
        font-size: 18px;
        text-align: left;
    }

    h1 {
        font-size: 24px;
        text-align: initial;
    }

    h2 {
        font-size: 22px;
        text-align: initial;
    }

    img {
        width: 300px;
    }

    figure {
        display: inline-block;
        margin-bottom: 20px;
    }
}

@media (min-width: 1300px) {
    body {
        background-color: rgb(248, 244, 244);
        font-size: 18px;
        max-width: 1300px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}