    #titulo {
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
    }

    #lista {
        background-color: green;
    }

    .fundo {
        background-color: peru;
    }

    p {
        font-weight: 600;
        font-size: 3em;
    }

    body {
        font-size: 16px;
    }